<app-card-data
  cardTitle="دروس اختصاص یافته"
  [editable]="true"
  [editMode]="editModeLessons()"
  (onEdit)="onEditLessonsClick()"
>
  @if (editModeLessons()) {
    <app-teacher-lessons-form
      class="mb-5"
      [teacherId]="teacherId"
      [selectedSchoolLessons]="lessons"
      (closeForm)="onEditLessonsClick()"
      (onUpdate)="lessonsUpdated()"
    />
  }
  @for (item of lessonsGroupedBySchool(); track item.schoolId) {
    <p-divider align="right">
      {{ item.schoolTitle }}
    </p-divider>
    @for (lesson of item.lessons; track lesson.lessonId) {
      <div class="mb-3 flex items-center gap-4">
        <app-key-value label="درس">{{ lesson.lessonTitle }}</app-key-value>
        <app-key-value label="رشته">{{ lesson.fieldOfStudyTitle }}</app-key-value>
        <app-key-value label="پایه">{{ lesson.educationalLevelTitle }}</app-key-value>
        @if (editModeLessons()) {
          <button
            pButton
            [loading]="detachLoading()"
            severity="danger"
            size="small"
            (click)="detach({ schoolId: item.schoolId, lessonId: lesson.lessonId })"
          >
            حذف درس
          </button>
        }
      </div>
    }
  }
</app-card-data>
