@if (showLabel) {
  <uikit-field label="درس" [name]="name">
    <p-select
      [name]="name"
      [formControl]="control"
      [options]="filteredItems()"
      optionLabel="fullTitle"
      placeholder="یکی از رشته‌ها را انتخاب کنید"
      [loading]="loading"
      (onChange)="onSelect($event.value)"
    />
  </uikit-field>
} @else {
  <p-select
    [name]="name"
    [formControl]="control"
    [options]="filteredItems()"
    optionLabel="fullTitle"
    placeholder="یکی از رشته‌ها را انتخاب کنید"
    [loading]="loading"
    (onChange)="onSelect($event.value)"
  />
}
