<div class="flex flex-col gap-4 w-full">
  <p-message severity="info" icon="pi pi-info-circle" class="mb-5">
    یکی از فیلتر‌ها در لحظه قابل انتخاب هستند
  </p-message>
  <uikit-field label="بر اساس نام کارگزار" name="search" class="w-full">
    <p-inputgroup class="w-full">
      <input
        pInputText
        [(ngModel)]="search"
        placeholder="جستجوی نام کارگزار"
        (ngModelChange)="onFilterChange($event)"
      />
      <p-inputgroup-addon>
        <p-button icon="pi pi-times" severity="secondary" (onClick)="clearSearch()"></p-button>
      </p-inputgroup-addon>
    </p-inputgroup>
  </uikit-field>
</div>
