<form [formGroup]="form" (submit)="submit()">
  <div class="grid grid-cols-1 gap-4">
    <div class="grid grid-cols-3 gap-4">
      <app-states-select
        [stateControl]="form.controls.state"
        [cityControl]="form.controls.city"
        class="col-span-2"
      ></app-states-select>
      <uikit-field label="کد پستی" for="postalCode" [control]="form.controls.postalCode">
        <input
          pInputText
          formControlName="postalCode"
          [maxlength]="10"
          [minlength]="10"
          [invalid]="form.controls.postalCode.invalid && form.controls.postalCode.touched"
        />
      </uikit-field>
    </div>
    <uikit-field label="ادامه‌ی آدرس" for="address" [control]="form.controls.address">
      <textarea
        pTextarea
        formControlName="address"
        rows="2"
        [invalid]="form.controls.address.invalid && form.controls.address.touched"
      ></textarea>
    </uikit-field>
    <app-form-footer-actions [loading]="onSubmitLoading()" cancelLabel="انصراف" class="mt-4" (onCancel)="close()" />
  </div>
</form>
