<div class="grid grid-cols-3 gap-4">
  @if (canEditStatus()) {
    <app-key-value label="امکان استفاده از کوپن" hint="برای تغییر وضعیت بر روی سوییچ بالا کلیک کنید">
      <inline-confirmation
        [value]="!!canBuyExamByCoupon()"
        confirmedMessage="بله"
        rejectedMessage="خیر"
        confirmationHeader="آیا مطمینید؟"
        [onConfirmMessage]="'آیا از دادن امکان استفاده از کوپن به این مدرسه مطمینید؟'"
        [onRejectMessage]="'آیا از لغو امکان استفاده از کوپن این مدرسه مطمینید؟'"
        (onConfirm)="updateCanEdit(true)"
        (onReject)="updateCanEdit(false)"
      />
    </app-key-value>
  } @else {
    <app-key-value label="امکان استفاده از کوپن" [value]="canBuyExamByCoupon()" type="boolean" />
  }

  <div class="col-span-2 flex items-center gap-3">
    <app-key-value label="کوپن باقی‌مانده" [value]="remainedCoupon()" type="simple" class="w-auto! grow-0 block" />
    @if (canEdit()) {
      <credits-action-cta
        label="کوپن"
        type="number"
        [schoolId]="schoolId()!"
        [currentValue]="remainedCoupon()"
        [increaseSubmitUrl]="increaseCouponSubmitUrl()!"
        [decreaseSubmitUrl]="decreaseCouponSubmitUrl()!"
        [editSubmitUrl]="editCouponSubmitUrl()!"
        (onSubmitted)="refresh()"
      />
    }
  </div>
</div>
