<form (ngSubmit)="submit()" [formGroup]="form" class="grid grid-cols-1 gap-4">
  <div class="grid grid-cols-3 gap-4">
    <uikit-field label="نام مدرسه" for="name" [control]="form.controls.name">
      <input
        pInputText
        [formControlName]="'name'"
        required
        [invalid]="form.controls.name.invalid && form.controls.name.touched"
      />
    </uikit-field>
    <app-school-genders-select [control]="form.controls.boyOrGirl" />
    <uikit-field label="ظرفیت" for="examHallCapacity" [control]="form.controls.examHallCapacity">
      <input
        pInputText
        formControlName="examHallCapacity"
        required
        [invalid]="form.controls.examHallCapacity.invalid && form.controls.examHallCapacity.touched"
      />
    </uikit-field>
    <uikit-field label="شماره تماس" for="phoneNumber" [control]="form.controls.phoneNumber">
      <input
        pInputText
        formControlName="phoneNumber"
        required
        [invalid]="form.controls.phoneNumber.invalid && form.controls.phoneNumber.touched"
      />
    </uikit-field>
  </div>
  <div [formGroup]="form.controls.managerInfo" class="grid grid-cols-1 gap-4">
    <p-divider align="center"> مدیریت </p-divider>
    <app-school-person-form
      [firstNameControl]="form.controls.managerInfo.controls.firstName"
      [lastNameControl]="form.controls.managerInfo.controls.lastName"
      [mobileControl]="form.controls.managerInfo.controls.mobile"
      [emailControl]="form.controls.managerInfo.controls.email"
      [genderControl]="form.controls.managerInfo.controls.gender"
    />
  </div>
  <div class="flex gap-2 justify-end mt-4">
    <button pButton type="button" class="p-button-secondary" (click)="close()">انصراف</button>
    <button pButton type="submit" class="p-button-primary" [loading]="onSubmitLoading()">ذخیره</button>
  </div>
</form>
