<div class="flex flex-col gap-6">
  <app-school-info [info]="school!" [canEdit]="canEditInfo" (onSubmitted)="refreshData()" />
  <school-contact
    [contact]="school.contactInfo"
    [canEdit]="canEditContact"
    [submitLoading]="submitContactLoading"
    (onSubmit)="submitContact($event)"
  />
  <app-school-address
    [address]="school.address"
    [schoolId]="schoolId()!"
    [canEdit]="canEditAddress"
    (onSubmitted)="refreshData()"
  />
  <app-school-login-info [manager]="school.managerInfo!" [canEdit]="canEditLoginInfo" (onSubmitted)="refreshData()" />
</div>
