<app-page-data-list
  [pageTitle]="'مدیریت دبیران'"
  [columns]="columns"
  [items]="teachers()"
  [loading]="loading()"
  [fullHeight]="true"
  class="overflow-hidden"
>
  <ng-template #lessons let-item>
    <div class="flex flex-col gap-2">
      @for (lesson of item.lessons; track lesson.lessonId) {
        <div class="flex items-center gap-2">
          <span>{{ lesson.lessonTitle }} - {{ lesson.educationalLevelTitle }}</span>
        </div>
      }
    </div>
  </ng-template>
</app-page-data-list>
