<app-page-data-list
  [pageTitle]="'مدیریت دبیران'"
  [columns]="columns"
  [items]="teachers()"
  [loading]="loading()"
  [showAdd]="true"
  addNewCtaLabel="افزودن دبیر جدید"
  [fullHeight]="true"
  (onAdd)="openAssignTeacher()"
  class="overflow-hidden"
>
  <ng-template #lessons let-item>
    <div class="flex flex-col gap-2">
      @for (lesson of item.lessons; track `${lesson.schoolId}-${lesson.lessonId}-${lesson.educationalLevelId}`) {
        <div class="flex items-center gap-2">
          <span>{{ lesson.lessonTitle }} - {{ lesson.educationalLevelTitle }}</span>
        </div>
      }
    </div>
  </ng-template>

  <ng-template #actions let-item>
    <button pButton type="button" icon="pi pi-plus" (click)="openAssignLessonToTeacher(item)">تخصیص درس</button>
  </ng-template>
</app-page-data-list>

<assign-teacher-form-dialog
  [(visible)]="isOpenAssignTeacherDialog"
  [teacherId]="selectedTeacher()?.id"
  [selectedLessonIds]="lessonIdsOfSelectedTeacher()"
  (onSubmit)="onTeacherAssigned()"
/>
