<uikit-field label="مرکز آموزشی">
  <p-select
    [options]="schools"
    [formControl]="control"
    [loading]="loading"
    [optionValue]="optionValue"
    optionLabel="name"
    [filter]="true"
    filterBy="name"
    [showClear]="true"
    placeholder="یکی از مراکز آموزشی را انتخاب کنید"
  >
    <ng-template #selectedItem let-selectedOption>
      <div class="flex items-center gap-2">
        <div>{{ selectedOption.name }}</div>
      </div>
    </ng-template>

    <ng-template #filter>
      <input pInputText [formControl]="searchControl" placeholder="جستجوی مرکز آموزشی..." class="w-full" />
    </ng-template>
  </p-select>
</uikit-field>
