<p-dialog
  [(visible)]="visible"
  [modal]="true"
  header="ایجاد مدرسه"
  [style]="{ width: '600px' }"
  (onHide)="visibleChange.emit(false)"
>
  <form (ngSubmit)="submit()" [formGroup]="form" class="grid grid-cols-1 gap-4">
    <div class="grid grid-cols-2 gap-4">
      <uikit-field label="نام مدرسه" for="name" [control]="form.controls.name">
        <input
          pInputText
          formControlName="name"
          required
          [invalid]="form.controls.name.invalid && form.controls.name.touched"
        />
      </uikit-field>
    </div>
    <div class="grid grid-cols-1 gap-4">
      <div formGroupName="address">
        <p-divider align="center"> آدرس </p-divider>
        <div class="grid grid-cols-1 gap-4">
          <uikit-field label="آدرس" for="address" [control]="form.controls.address.controls.address">
            <textarea
              pTextarea
              formControlName="address"
              rows="2"
              [invalid]="
                form.controls.address.controls.address.invalid && form.controls.address.controls.address.touched
              "
            ></textarea>
          </uikit-field>
          <app-states-select
            [stateControl]="form.controls.address.controls.state"
            [cityControl]="form.controls.address.controls.regionId"
          ></app-states-select>
          <div class="grid grid-cols-2">
            <uikit-field label="کد پستی" for="postalCode" [control]="form.controls.address.controls.postalCode">
              <input
                pInputText
                formControlName="postalCode"
                [invalid]="
                  form.controls.address.controls.postalCode.invalid && form.controls.address.controls.postalCode.touched
                "
              />
            </uikit-field>
          </div>
        </div>
      </div>
      <p-divider align="center"> مدیریت </p-divider>

      <div formGroupName="managerInfo" class="grid grid-cols-1 gap-4">
        <div class="grid grid-cols-2 gap-4">
          <uikit-field label="نام مدیر" for="firstName" [control]="form.controls.managerInfo.controls.firstName">
            <input
              pInputText
              formControlName="firstName"
              [invalid]="
                form.controls.managerInfo.controls.firstName.invalid &&
                form.controls.managerInfo.controls.firstName.touched
              "
            />
          </uikit-field>
          <uikit-field label="نام خانوادگی" for="lastName" [control]="form.controls.managerInfo.controls.lastName">
            <input
              pInputText
              formControlName="lastName"
              [invalid]="
                form.controls.managerInfo.controls.lastName.invalid &&
                form.controls.managerInfo.controls.lastName.touched
              "
            />
          </uikit-field>
          <uikit-field label="موبایل" for="mobile" [control]="form.controls.managerInfo.controls.mobile">
            <input
              pInputText
              formControlName="mobile"
              [invalid]="
                form.controls.managerInfo.controls.mobile.invalid && form.controls.managerInfo.controls.mobile.touched
              "
            />
          </uikit-field>
          <uikit-field label="ایمیل" for="email" [control]="form.controls.managerInfo.controls.email">
            <input
              pInputText
              formControlName="email"
              [invalid]="
                form.controls.managerInfo.controls.email.invalid && form.controls.managerInfo.controls.email.touched
              "
            />
          </uikit-field>
          @if (isManagerContactInvalid) {
            <div class="col-span-2">
              <p-message severity="error" text="لطفاً حداقل یکی از موبایل یا ایمیل را وارد کنید." />
            </div>
          }
          <app-gender-select [control]="form.controls.managerInfo.controls.gender" />
        </div>
      </div>

      <p-divider align="center"> اطلاعات کاربری </p-divider>
      <div class="grid grid-cols-2 gap-4">
        <uikit-field label="نام کاربری" for="username" [control]="form.controls.username">
          <input
            pInputText
            formControlName="username"
            [invalid]="form.controls.username.invalid && form.controls.username.touched"
          />
        </uikit-field>
        <uikit-field label="رمز عبور" for="password" [control]="form.controls.password">
          <input
            pInputText
            formControlName="password"
            [invalid]="form.controls.password.invalid && form.controls.password.touched"
          />
        </uikit-field>
      </div>
    </div>
    <app-form-footer-actions cancelLabel="انصراف" [loading]="onSubmitLoading()" class="mt-4" (onCancel)="close()" />
  </form>
</p-dialog>
