<p-dialog
  [(visible)]="visible"
  [modal]="true"
  header="ایجاد مرکز آموزشی"
  [style]="{ width: '600px' }"
  (onHide)="visibleChange.emit(false)"
>
  <form (ngSubmit)="submit()" [formGroup]="form" class="grid grid-cols-1 gap-4">
    <div class="grid grid-cols-2 gap-4">
      <app-input label="نام مرکز آموزشی" name="name" [control]="form.controls.name" />
    </div>
    <div class="grid grid-cols-1 gap-4">
      <div formGroupName="address">
        <p-divider align="center"> آدرس </p-divider>
        <div class="grid grid-cols-1 gap-4">
          <uikit-field label="آدرس" name="address" [control]="form.controls.address.controls.address">
            <textarea
              pTextarea
              formControlName="address"
              rows="2"
              [invalid]="
                form.controls.address.controls.address.invalid && form.controls.address.controls.address.touched
              "
            ></textarea>
          </uikit-field>
          <app-states-select
            [stateControl]="form.controls.address.controls.state"
            [cityControl]="form.controls.address.controls.regionId"
          ></app-states-select>
          <div class="grid grid-cols-2">
            <app-input
              label="کد پستی"
              name="postalCode"
              [control]="form.controls.address.controls.postalCode"
              type="postalCode"
            />
          </div>
        </div>
      </div>
      <p-divider align="center"> مدیریت </p-divider>

      <div formGroupName="managerInfo" class="grid grid-cols-1 gap-4">
        <div class="grid grid-cols-2 gap-4">
          <app-input label="نام" name="firstName" [control]="form.controls.managerInfo.controls.firstName" />
          <app-input label="نام خانوادگی" name="lastName" [control]="form.controls.managerInfo.controls.lastName" />
          <app-input label="موبایل" name="mobile" [control]="form.controls.managerInfo.controls.mobile" type="mobile" />
          <app-input label="ایمیل" name="email" [control]="form.controls.managerInfo.controls.email" type="email" />
          @if (isManagerContactInvalid) {
            <div class="col-span-2">
              <p-message severity="error" text="لطفاً حداقل یکی از مقادیر موبایل یا ایمیل را وارد کنید." />
            </div>
          }
          <app-gender-select [control]="form.controls.managerInfo.controls.gender" />
        </div>
      </div>

      <p-divider align="center"> اطلاعات کاربری </p-divider>
      <div class="grid grid-cols-2 gap-4">
        <app-input label="نام کاربری" name="username" [control]="form.controls.username" />
        <uikit-field label="رمز عبور" name="password" [control]="form.controls.password">
          <input
            pInputText
            formControlName="password"
            [invalid]="form.controls.password.invalid && form.controls.password.touched"
          />
        </uikit-field>
      </div>
    </div>
    <app-form-footer-actions cancelLabel="انصراف" [loading]="onSubmitLoading()" class="mt-4" (onCancel)="close()" />
  </form>
</p-dialog>
