<div class="flex flex-col gap-4 w-full">
  <p-message severity="info" icon="pi pi-info-circle" class="mb-5">
    یکی از فیلتر‌ها در لحظه قابل انتخاب هستند
  </p-message>
  <uikit-field label="بر اساس نام مرکز آموزشی" name="search" class="w-full">
    <p-inputgroup class="w-full">
      <input
        pInputText
        [(ngModel)]="search"
        placeholder="جستجوی نام مرکز آموزشی"
        (ngModelChange)="onFilterChange($event)"
      />
      <p-inputgroup-addon>
        <p-button icon="pi pi-times" severity="secondary" (onClick)="clearSearch()"></p-button>
      </p-inputgroup-addon>
    </p-inputgroup>
  </uikit-field>

  <hr />

  <app-states-cascade (selectionChange)="onRegionChange($event)" (selectionClear)="onRegionChange()" />

  <hr />

  <app-schools-categories-tree-select
    (selectionChange)="onCategoryChange($event.id)"
    (selectionClear)="onCategoryChange()"
  />

  <hr />

  <div class="flex flex-col gap-3">
    <uikit-label> بر اساس جنسیت </uikit-label>
    <div class="flex items-center gap-3">
      @for (item of schoolGenders; track item.id) {
        <p-button
          [label]="item.title"
          [severity]="item.color"
          [outlined]="selectedGender() !== item.id"
          (onClick)="onGenderChange(item.id)"
        ></p-button>
      }
    </div>
  </div>

  <hr />

  <uikit-field label="امکان استفاده از اعتبار">
    <p-select
      [showClear]="true"
      placeholder="انتخاب کنید"
      [options]="[
        {
          label: 'بله',
          value: 'true',
        },
        {
          label: 'خیر',
          value: 'false',
        },
      ]"
      (onChange)="onUseCreditValueChange($event.value === 'true')"
      (onClear)="onCanNotUseCreditChange()"
    >
    </p-select>
  </uikit-field>
  <hr />

  <div class="flex gap-3">
    <p-checkbox
      value="مدارس بدون بازاریاب"
      inputId="withoutAgentFilter"
      [ngModel]="selectedWithoutAgent()"
      [binary]="true"
      (ngModelChange)="onWithoutAgentChange($event)"
    ></p-checkbox>
    <uikit-label name="withoutAgentFilter"> مدارس بدون بازاریاب </uikit-label>
  </div>
</div>
