@if (showLabel) {
  <uikit-field label="بانک" [for]="name" [control]="control">
    <p-select
      [name]="name"
      [formControl]="control"
      [options]="items"
      optionLabel="title"
      optionValue="id"
      placeholder="یکی از بانک‌ها را انتخاب کنید"
      [invalid]="control.invalid && (control.dirty || control.touched)"
    />
  </uikit-field>
} @else {
  <p-select
    [name]="name"
    [formControl]="control"
    [options]="items"
    optionLabel="title"
    optionValue="id"
    placeholder="یکی از بانک‌ها را انتخاب کنید"
    [invalid]="control.invalid && (control.dirty || control.touched)"
  />
}
