<p-dialog header="ثبت‌نام در آزمون" [modal]="true" [(visible)]="visible" [style]="{ width: '35rem' }">
  <div class="flex items-center gap-4 justify-center mb-10">
    @for (type of registrationTypes(); track type.value) {
      <div class="flex items-center gap-1">
        <p-radiobutton
          [inputId]="type.value"
          name="type"
          [value]="type.value"
          [formControl]="selectedRegistrationTypeControl"
          size="small"
        />
        <uikit-label [name]="type.label" class="cursor-pointer inline-block">{{ type.label }}</uikit-label>
      </div>
    }
  </div>

  @if (selectedRegistrationTypeControl.value === "payment") {
    <school-exam-registration-payment />
  } @else if (selectedRegistrationTypeControl.value === "coupon") {
    <school-exam-registration-coupon
      [selectedStudentIds]="selectedStudentIds"
      (onRegister)="onRegistering($event)"
      (onRegistrationSuccess)="registrationSuccess()"
      (onCancel)="close()"
    />
  } @else if (selectedRegistrationTypeControl.value === "credit") {
    <school-exam-registration-credit
      [selectedStudentIds]="selectedStudentIds"
      (onRegister)="onRegistering($event)"
      (onRegistrationSuccess)="registrationSuccess()"
      (onCancel)="close()"
    />
  }

  <!-- <form (submit)="submit()">
    <div class="flex flex-col gap-4 mb-6 items-center">
      <span>برای تایید، کد ارسالی به شماره تلفن خود را وارد کنید</span>
      <p-inputOtp [(ngModel)]="code" name="code" [length]="6" size="large" dir="ltr" />
    </div>
    <div class="flex justify-end gap-2">
      <p-button label="لغو" severity="secondary" (click)="close()" />
      <p-button label="تایید" [loading]="submitLoading()" (onClick)="submit()" />
    </div>
  </form> -->
</p-dialog>
