<form [formGroup]="loginForm" class="w-full flex flex-col gap-4" (ngSubmit)="submit()">
  <app-input
    name="username"
    size="large"
    label="نام کاربری"
    placeholder="نام کاربری و یا شماره موبایل"
    [control]="loginForm.controls.username"
    [isLtrInput]="true"
  ></app-input>

  <div class="flex flex-col gap-2">
    <uikit-field name="password1" pSize="large" [control]="loginForm.controls.password" label="رمز عبور">
      <p-password
        id="password1"
        size="large"
        name="password"
        formControlName="password"
        autocomplete="password"
        placeholder="رمز عبور"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false"
        inputStyleClass="placeholder:text-right"
        [inputStyle]="{
          direction: 'ltr',
          'padding-inline-start': 'calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size))',
          'padding-inline-end': 'var(--p-inputtext-lg-padding-x)',
        }"
        [invalid]="loginForm.controls.password.touched && loginForm.controls.password.invalid"
      />
    </uikit-field>

    <a class="text-primary text-sm font-bold" tabindex="-1" (click)="toForgetPassword()">فراموشی رمز عبور</a>
  </div>

  <app-auth-captcha class="block mb-6" />

  <div class="grid grid-cols-1 gap-3">
    @if (selectedRole() === "TEACHER") {
      <span class="w-full text-center text-sm select-none">
        برای ثبت نام در سامانه <a class="text-primary cursor-pointer" (click)="toSignup()">اینجا</a> کلیک کنید.
      </span>
    } @else if (selectedRole() === "SCHOOL") {
      <span class="w-full text-center text-sm select-none">
        <a class="text-primary cursor-pointer font-bold" (click)="toOTPLogin()">ورود با کد یک‌بار مصرف</a>
      </span>
    }
    <p-button label="ورود" styleClass="w-full" size="large" [loading]="submitLoading()" type="submit"></p-button>
  </div>
</form>
