@if (showLabel) {
  <uikit-field label="نوع آزمون" [for]="name">
    <p-select
      [name]="name"
      [formControl]="control"
      [options]="items"
      optionLabel="title"
      placeholder="یکی از انواع آزمون را انتخاب کنید"
      (onChange)="onSelect($event.value)"
    />
  </uikit-field>
} @else {
  <p-select
    [name]="name"
    [formControl]="control"
    [options]="items"
    optionLabel="title"
    placeholder="یکی از انواع آزمون را انتخاب کنید"
    (onChange)="onSelect($event.value)"
  />
}
