<app-card-data cardTitle="اطلاعات مدرسه" [editable]="canEdit()" [editMode]="editMode()" (onEdit)="onEdit()">
  @if (canEdit() && editMode()) {
    <app-school-info-form (closeForm)="closeForm()" (submitForm)="submitForm()" />
  } @else {
    <div class="flex flex-col gap-4">
      <div class="grid grid-cols-3 gap-4">
        <app-key-value label="نام مدرسه" [value]="info().name" />
        <app-key-value label="جنسیت">
          <app-school-genders-tag [genderId]="info().boyOrGirl" />
        </app-key-value>
        <app-key-value label="فعال بودن">
          <p-badge [value]="info().isActive ? 'فعال' : 'غیرفعال'" [severity]="info().isActive ? 'success' : 'danger'" />
        </app-key-value>
        <app-key-value label="ظرفیت مدرسه" [value]="info().examHallCapacity.toString()" />
        <app-key-value label="تلفن تماس" [value]="info().phoneNumber" />
      </div>
      <app-key-value label="دسته‌بندی">
        @if (info().categories.length) {
          <div class="inline-flex items-center gap-2">
            @for (category of info().categories; track category.id) {
              <p-badge [value]="category.title" severity="secondary"></p-badge>
            }
          </div>
        } @else {
          -
        }
      </app-key-value>
      <app-key-value label="رشته‌های تحصیلی">
        @if (info().fieldOfStudies.length) {
          <div class="inline-flex">
            <app-educational-levels-tags [educationalLevels]="info().fieldOfStudies" />
          </div>
        } @else {
          -
        }
      </app-key-value>
      <p-divider> مدیریت </p-divider>
      <div class="grid grid-cols-3 gap-4">
        <app-key-value label="نام" [value]="info().managerInfo.firstName" />
        <app-key-value label="نام خانوادگی" [value]="info().managerInfo.lastName" />
        <app-key-value label="جنسیت" [value]="info().managerInfo.gender ? 'مرد' : 'زن'" />
        <app-key-value label="تلفن همراه">
          <app-check-verified-info
            [value]="info().managerInfo.mobile"
            [isVerified]="info().managerInfo.mobileIsVerified"
            [inlineConfirmation]="showInlineConfirmation()"
            (onToggleVerify)="toggleVerifyMobile($event)"
          />
        </app-key-value>
        <app-key-value label="ایمیل">
          <app-check-verified-info
            [value]="info().managerInfo.email"
            [inlineConfirmation]="showInlineConfirmation()"
            [isVerified]="info().managerInfo.emailIsVerified"
            (onToggleVerify)="toggleVerifyEmail($event)"
          />
        </app-key-value>
      </div>
    </div>
  }
</app-card-data>
