<app-page-data-list
  [pageTitle]="'مدیریت دبیران'"
  [addNewCtaLabel]="'افزودن دبیر جدید'"
  [columns]="columns"
  [showAdd]="true"
  [showDetails]="true"
  [items]="activePageItems"
  [loading]="loading"
  [totalRecords]="totalRecords"
  [currentPage]="activePageIndex + 1"
  [perPage]="perPage"
  [fullHeight]="true"
  [isFiltered]="isFiltered"
  class="overflow-hidden"
  (pageChange)="onPageChange($event)"
  (onAdd)="openAddForm()"
  (onDetails)="toDetails($event)"
>
  <ng-template #filter let-columns>
    <admin-teachers-filter
      (onWithoutSchoolStatusFilter)="filterByWithoutSchools($event)"
      (onLessonFilter)="onLessonFilter($event)"
      (onSchoolFilter)="onSchoolFilter($event)"
    />
  </ng-template>
</app-page-data-list>
