<p-dialog
  header="افزودن رشته‌ی تحصیلی"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
  className="overflow-visible"
  (onHide)="close()"
>
  <form [formGroup]="form" (submit)="submit()">
    <div class="flex flex-col gap-4">
      <app-input label="عنوان رشته" name="title" [control]="form.controls.title" [attr.disabled]="submitLoading()" />
      <catalog-educational-levels-select [control]="form.controls.educationalId" [attr.disabled]="submitLoading()" />
      <app-form-footer-actions class="mt-6" [loading]="submitLoading()" (onCancel)="close()" (onSubmit)="submit()" />
    </div>
  </form>
</p-dialog>
