<div class="flex items-center gap-3 justify-between">
  دروس مرکز آموزشی‌ "{{ item.schoolTitle }}"

  @if (menuItems().length) {
    <div class="shrink-0">
      <p-menu #actionMenu [model]="menuItems()" [popup]="true" [appendTo]="'body'" />
      <button pButton icon="pi pi-angle-down" outlined (click)="actionMenu.toggle($event)">عملیات</button>
    </div>
  }
</div>
<attach-school-lesson-form-dialog
  [(visible)]="showLessonForm"
  [schoolId]="item.schoolId"
  [teacherId]="teacherId"
  [selectedLessonIds]="selectedLessonIds"
  (onSubmit)="submitted()"
/>
