<app-card-data>
  <ng-template #header>
    <div class="w-full flex items-center justify-between">
      <span class="font-bold text-lg">دروس در حال تدریس</span>
      @if (canAddSchoolLesson()) {
        <p-button label="الصاق درس جدید" icon="pi pi-plus" (click)="openAttachLessonDialog()"></p-button>
      }
    </div>
  </ng-template>
  <p-table
    [columns]="columns"
    [value]="lessons()"
    columnResizeMode="fit"
    stripedRows
    [showFirstLastIcon]="false"
    groupRowsBy="schoolId"
    rowGroupMode="subheader"
  >
    <ng-template #header let-columns>
      <tr>
        @for (col of columns; track col.header) {
          <th [style]="{ width: col.width, minWidth: col.minWidth }">{{ col.header }}</th>
        }
      </tr>
    </ng-template>
    <ng-template #groupheader let-item>
      <tr pRowGroupHeader>
        <td [attr.colspan]="columns.length">
          <lesson-school-row-subheader
            [item]="item"
            [selectedLessonIds]="getLessonIds(item)"
            [teacherId]="teacherId()"
            (onSubmitted)="onSubmit()"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        @for (col of columns; track col.field) {
          <td>
            @if (col.field === "approved") {
              @if (canApproveSchools()) {
                <div class="flex items-center gap-2">
                  <p-confirmpopup />
                  @if (changeStatusSchedules()[item.lessonId]) {
                    <p-progressSpinner
                      strokeWidth="4"
                      fill="transparent"
                      animationDuration="1s"
                      [style]="{ width: '24px', height: '24px' }"
                    ></p-progressSpinner>
                  } @else {
                    <p-toggleSwitch
                      [attr.disabled]="changeStatusSchedules()[item.lessonId]"
                      [ngModel]="item.approved"
                      (onChange)="showSchoolLessonConfirmation(item, $event.checked, $event)"
                    ></p-toggleSwitch>
                  }

                  <p-button
                    outlined
                    severity="secondary"
                    size="small"
                    [loading]="detachLessonsSchedules()[`${item.lessonId}-${item.schoolId}`]"
                    (click)="detachLesson(item)"
                  >
                    حذف درس
                  </p-button>
                </div>
              } @else {
                <p-badge
                  [value]="item.approved ? 'تایید شده' : 'تایید نشده'"
                  [severity]="item.approved ? 'success' : 'danger'"
                ></p-badge>
              }
            } @else {
              {{ item[col.field] || "-" }}
            }
          </td>
        }
      </tr>
    </ng-template>
    <!-- <ng-template #status let-item>

    </ng-template> -->
  </p-table>
</app-card-data>

<attach-school-lesson-form-dialog
  [(visible)]="showLessonForm"
  [teacherId]="teacherId()"
  (onSubmit)="submittedNewSchoolLesson()"
/>
