<app-card-data cardTitle="دروس در حال تدریس">
  <p-table
    [columns]="columns"
    [value]="lessons()"
    columnResizeMode="fit"
    stripedRows
    [showFirstLastIcon]="false"
    groupRowsBy="schoolId"
    rowGroupMode="subheader"
  >
    <ng-template #header let-columns>
      <tr>
        @for (col of columns; track col.header) {
          <th [style]="{ width: col.width, minWidth: col.minWidth }">{{ col.header }}</th>
        }
      </tr>
    </ng-template>
    <ng-template #groupheader let-item>
      <tr pRowGroupHeader>
        <td [attr.colspan]="columns.length">
          <div class="flex items-center gap-3 justify-between">
            دروس مدرسه‌ی "{{ item.schoolTitle }}"

            @if (canApproveSchools()) {
              <div class="text-end flex justify-end gap-3 shrink-0">
                <p-button
                  severity="danger"
                  size="small"
                  [loading]="detachSchoolSchedules()[item.schoolId]"
                  [disabled]="detachLessonsSchedules()[`${item.lessonId}-${item.schoolId}`]"
                  (click)="detachSchool(item)"
                >
                  حذف مدرسه
                </p-button>
                <p-button
                  label="تایید تمامی دروس"
                  icon="pi pi-check"
                  severity="success"
                  size="small"
                  [loading]="changeSchoolStatusSchedules()[item.schoolId]"
                  (click)="approveAllLessons(item)"
                />
                <p-button
                  label="رد تمامی دروس"
                  icon="pi pi-times"
                  severity="warn"
                  size="small"
                  [loading]="changeSchoolStatusSchedules()[item.schoolId]"
                  (click)="rejectAllLessons(item)"
                />
              </div>
            }
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        @for (col of columns; track col.field) {
          <td>
            @if (col.field === "approved") {
              @if (canApproveSchools()) {
                <div class="flex items-center gap-2">
                  <p-confirmpopup />
                  @if (changeStatusSchedules()[item.lessonId] || changeSchoolStatusSchedules()[item.schoolId]) {
                    <p-progressSpinner
                      strokeWidth="4"
                      fill="transparent"
                      animationDuration="1s"
                      [style]="{ width: '24px', height: '24px' }"
                    ></p-progressSpinner>
                  } @else {
                    <p-toggleSwitch
                      [disabled]="
                        changeStatusSchedules()[item.lessonId] || changeSchoolStatusSchedules()[item.schoolId]
                      "
                      [ngModel]="item.approved"
                      (onChange)="showSchoolLessonConfirmation(item, $event.checked, $event)"
                    ></p-toggleSwitch>
                  }

                  <p-button
                    outlined
                    severity="secondary"
                    size="small"
                    [loading]="detachLessonsSchedules()[`${item.lessonId}-${item.schoolId}`]"
                    (click)="detachLesson(item)"
                  >
                    حذف درس
                  </p-button>
                </div>
              } @else {
                <p-badge
                  [value]="item.approved ? 'تایید شده' : 'تایید نشده'"
                  [severity]="item.approved ? 'success' : 'danger'"
                ></p-badge>
              }
            } @else {
              {{ item[col.field] || "-" }}
            }
          </td>
        }
      </tr>
    </ng-template>
    <!-- <ng-template #status let-item>

    </ng-template> -->
  </p-table>
</app-card-data>
