<app-card-data cardTitle="اطلاعات بانکی" [editable]="canEdit" [editMode]="editMode()" (onEdit)="onEdit()">
  @if (canEdit && editMode()) {
    <app-school-bank-form (closeForm)="closeForm()" (submitForm)="submitForm($event)" />
  } @else {
    <div class="flex flex-col gap-4">
      @for (bankAccount of bankAccounts; track bankAccount.id) {
        <p-divider align="center">
          {{ `بانک ${bankAccount.bankName} - ‌‌شعبه‌ی ${bankAccount.branchName}` }}
        </p-divider>
        <div class="grid grid-cols-3 gap-4 items-center">
          <app-key-value label="کد شعبه" [value]="bankAccount.branchCode" />
          <app-key-value label="صاحب حساب" [value]="bankAccount.ownerName" />
          <app-key-value label="شماره شبا" [value]="bankAccount.sheba" />
        </div>
      }
    </div>
  }
</app-card-data>
