<uikit-field [label]="label" [name]="name" [control]="control">
  <input
    pInputText
    [attr.id]="name"
    [formControl]="control"
    [attr.name]="name"
    [attr.placeholder]="_placeholder"
    [attr.inputmode]="inputMode"
    [attr.maxlength]="maxLength || null"
    [attr.type]="htmlType"
    [attr.autocomplete]="autocomplete"
    [class]="`${inputClass} w-full ${size === 'large' ? 'p-inputtext-lg' : size === 'small' ? 'p-inputtext-sm' : ''}`"
    [required]="isRequired"
    [invalid]="control.invalid && (control.touched || control.dirty)"
    (input)="onInput($event)"
  />
</uikit-field>
