<uikit-field [label]="label" [name]="name" [control]="control" [showLabel]="!!label" [showErrors]="showErrors">
  @if (type === "switch") {
    <p-toggleSwitch [formControl]="control" />
  } @else {
    <p-inputgroup>
      <!-- [minlength]="minlength || null" -->
      @if (type === "price") {
        <p-inputnumber
          [attr.id]="name"
          [formControl]="control"
          [maxlength]="maxLength || null"
          [attr.name]="name"
          [attr.placeholder]="preparedPlaceholder"
          [attr.type]="htmlType"
          [attr.autocomplete]="autocomplete"
          [class]="` w-full ${size === 'large' ? 'p-inputtext-lg' : size === 'small' ? 'p-inputtext-sm' : ''}`"
          [required]="isRequired"
          [invalid]="control.invalid && (control.touched || control.dirty)"
          (onBlur)="blur.emit()"
        />
        <!-- (input)="onInput($event)" -->
      } @else {
        <input
          pInputText
          [attr.id]="name"
          [formControl]="control"
          [attr.name]="name"
          [attr.placeholder]="preparedPlaceholder"
          [attr.inputmode]="inputMode"
          [attr.maxlength]="maxLength || null"
          [attr.type]="htmlType"
          [attr.autocomplete]="autocomplete"
          [class]="
            `${inputClass} w-full ${size === 'large' ? 'p-inputtext-lg' : size === 'small' ? 'p-inputtext-sm' : ''}`
          "
          [required]="isRequired"
          [invalid]="control.invalid && (control.touched || control.dirty)"
          (onBlur)="blur.emit()"
        />
        <!-- (input)="onInput($event)" -->
      }
      @if (preparedSuffix()) {
        <p-inputgroup-addon>{{ preparedSuffix() }}</p-inputgroup-addon>
      }
    </p-inputgroup>
  }
  @if (hint) {
    <small [attr.id]="name + '-help'">{{ hint }}</small>
  }
</uikit-field>
