<app-card-data cardTitle="اطلاعات بازاریاب" [editable]="canEdit" [editMode]="editMode()" (onEdit)="onEdit()">
  <ng-template #moreAction>
    @if (agent) {
      <button
        pButton
        type="button"
        icon="pi pi-times"
        outlined
        severity="danger"
        [loading]="onRemoveLoading()"
        (click)="removeAgent()"
        label="حذف بازاریاب"
      ></button>
    }
  </ng-template>
  @if (agent) {
    <div class="flex flex-col gap-4">
      <div class="grid grid-cols-3 gap-4 items-center">
        <app-key-value label="نام" [value]="agent.firstName" />
        <app-key-value label="نام خانوادگی" [value]="agent.lastName" />
        <app-key-value label="جنسیت" [value]="agent.gender === null ? '-' : agent.gender ? 'مرد' : 'زن'" />
        <app-key-value label="تلفن همراه" [value]="agent.mobile" />
        <app-key-value label="ایمیل" [value]="agent.email" />
      </div>
    </div>
  } @else {
    <div class="w-full flex items-center justify-center">
      <p-message severity="warn" icon="pi pi-exclamation-triangle">بازاریابی در نظر گرفته نشده است</p-message>
    </div>
  }
  @if (canEdit && editMode()) {
    <div class="mt-8">
      <school-agent-assign-card />
    </div>
  }
</app-card-data>
