<div class="flex flex-col gap-4">
  <uikit-search-field
    label="جستجوی کارگزار"
    placeholder="شناسه‌ی کارگزار را وارد کنید..."
    [search]="searchForAgent.bind(this)"
    [notFoundMessage]="'کارگزار با این شناسه یافت نشد.'"
    [foundedMessage]="foundedMessage"
    class="max-w-xs w-full mx-auto"
    (searchResult)="setSearchResult($event)"
  ></uikit-search-field>
  <div class="flex gap-2 justify-center mt-4">
    <button pButton type="button" class="p-button-secondary" (click)="close()">انصراف</button>
    <button pButton type="button" class="p-button-primary" [loading]="submitLoading()" (click)="submit()">ذخیره</button>
  </div>
</div>
