<app-page-data-list [columns]="columns" [items]="agents()" [loading]="loading()" class="overflow-hidden">
  <ng-template #caption>
    <input pInputText [formControl]="searchTerm" placeholder="نام بازاریاب مورد نظر را بنویسید" class="w-xs" />
  </ng-template>
  <ng-template #gender let-item>
    <catalog-gender-tag [gender]="item.gender" />
  </ng-template>
  <ng-template #action let-item>
    <button pButton [loading]="submitLoading()" type="button" label="انتخاب" (click)="selectAgent(item)"></button>
  </ng-template>
</app-page-data-list>
