<app-card-data cardTitle="اطلاعات مرکز آموزشی" [editable]="canEdit()" [editMode]="editMode()" (onEdit)="onEdit()">
  @if (canEdit() && editMode()) {
    <app-school-info-form (closeForm)="closeForm()" (submitForm)="submitForm()" />
  } @else {
    <div class="flex flex-col gap-4">
      <div class="grid grid-cols-3 gap-4 items-center">
        <app-key-value label="نام مرکز آموزشی" [value]="info().name" />
        <app-key-value label="جنسیت">
          <app-school-genders-tag [genderId]="info().boyOrGirl" />
        </app-key-value>
        <app-key-value label="وضعیت">
          <p-badge [value]="info().isActive ? 'فعال' : 'غیرفعال'" [severity]="info().isActive ? 'success' : 'danger'" />
        </app-key-value>
        <app-key-value label="مایل به برگزاری آزمون">
          <p-badge
            [value]="info().conductExam ? 'بلی' : 'خیر'"
            [severity]="info().conductExam ? 'success' : 'danger'"
          />
        </app-key-value>
        <app-key-value label="ظرفیت مرکز آموزشی" [value]="info().examHallCapacity.toString()" />
        <app-key-value label="نوع متقاضیان آزمون">
          <catalog-exam-application-types-tag [id]="info().examApplicantTypeId" />
        </app-key-value>
        <app-key-value label="نوع اسکنر" [value]="info().scannerType || 'ندارد'" />
        <app-key-value label="تلفن تماس" [value]="info().phoneNumber" />
      </div>
      <app-school-info-categories
        [categories]="categories()"
        [editable]="canEditCategories()"
        (onUpdate)="submitForm()"
      />
      <app-school-info-fields
        [fields]="info().fieldOfStudies"
        [editable]="canEditCategories()"
        (onUpdate)="submitForm()"
      />
      <p-divider> مدیریت </p-divider>
      <div class="grid grid-cols-3 gap-4 items-center">
        <app-key-value label="نام" [value]="info().managerInfo.firstName" />
        <app-key-value label="نام خانوادگی" [value]="info().managerInfo.lastName" />
        <app-key-value label="جنسیت" [value]="info().managerInfo.gender ? 'مرد' : 'زن'" />
        <app-key-value label="تلفن همراه">
          <app-check-verified-info
            [value]="info().managerInfo.mobile"
            [isVerified]="info().managerInfo.mobileIsVerified"
            [inlineConfirmation]="showInlineConfirmation()"
            (onToggleVerify)="toggleVerifyMobile($event)"
          />
        </app-key-value>
        <app-key-value label="ایمیل">
          <app-check-verified-info
            [value]="info().managerInfo.email"
            [inlineConfirmation]="showInlineConfirmation()"
            [isVerified]="info().managerInfo.emailIsVerified"
            (onToggleVerify)="toggleVerifyEmail($event)"
          />
        </app-key-value>
      </div>
      @if (info().canBuyExamByCredit) {
        <p-divider> اطلاعات اعتباری </p-divider>
        <app-key-value label="اعتبار باقی‌مانده" [value]="`${info().remainedCredit} تومان`" />
      }
    </div>
  }
</app-card-data>
