<form (ngSubmit)="submit()" [formGroup]="form" class="grid grid-cols-1 gap-4">
  <div class="grid grid-cols-3 gap-4">
    <app-input label="نام مرکز آموزشی" name="name" [control]="form.controls.name" />
    <app-school-genders-select [control]="form.controls.boyOrGirl" />

    <uikit-field label="مایل به برگزاری آزمون هستید؟" name="conductExam" [control]="form.controls.conductExam">
      <p-toggleSwitch formControlName="conductExam" />
    </uikit-field>
    <app-input label="ظرفیت" name="examHallCapacity" [control]="form.controls.examHallCapacity" />
    <catalog-exam-application-types-select
      [control]="form.controls.examApplicantType"
      placeholder="نوع متقاضیان آزمون را انتخاب کنید"
    />
    <app-input
      label="نوع اسکنر"
      name="scannerType"
      [control]="form.controls.scannerType"
      customPlaceholder="در صورت داشتن اسکنر نوع آن‌را وارد کنید"
    />
    <uikit-field label="شماره تماس" name="phoneNumber" class="w-full">
      <p-inputgroup class="w-full" dir="ltr">
        <p-inputgroup-addon>
          <input
            p-inputText
            [formControl]="form.controls.phoneNumber.controls.code"
            placeholder="021"
            maxlength="3"
            class="w-7 text-left ltrInput"
          />
        </p-inputgroup-addon>
        <input
          pInputText
          [formControl]="form.controls.phoneNumber.controls.number"
          placeholder="12345678"
          maxlength="8"
          class="ltrInput"
        />
      </p-inputgroup>
    </uikit-field>
    <!-- <app-input label="شماره تماس" name="phoneNumber" [control]="form.controls.phoneNumber" /> -->
  </div>
  <div [formGroup]="form.controls.managerInfo" class="grid grid-cols-1 gap-4">
    <p-divider align="center"> مدیریت </p-divider>
    <app-school-person-form
      [firstNameControl]="form.controls.managerInfo.controls.firstName"
      [lastNameControl]="form.controls.managerInfo.controls.lastName"
      [mobileControl]="form.controls.managerInfo.controls.mobile"
      [emailControl]="form.controls.managerInfo.controls.email"
      [genderControl]="form.controls.managerInfo.controls.gender"
    />
  </div>
  <div class="flex gap-2 justify-end mt-4">
    <button pButton type="button" class="p-button-secondary" (click)="close()">انصراف</button>
    <button pButton type="submit" class="p-button-primary" [loading]="onSubmitLoading()">ذخیره</button>
  </div>
</form>
