<app-card-data cardTitle="اطلاعات مرکز آموزشی" [editable]="canEdit()" [editMode]="editMode()" (onEdit)="onEdit()">
  <ng-template #moreAction>
    @if (teachersManagementPageRoute()) {
      <button pButton icon="pi pi-cog" outlined (click)="toTeachersPage()">مدیریت دبیران</button>
    }
    @if (studentsManagementPageRoute()) {
      <button pButton icon="pi pi-cog" outlined (click)="toStudentsPage()">مدیریت دانش‌آموزان</button>
    }
  </ng-template>
  @if (canEdit() && editMode()) {
    <app-school-info-form (closeForm)="closeForm()" (submitForm)="submitForm()" />
  } @else {
    <div class="flex flex-col gap-4">
      <div class="grid grid-cols-3 gap-4 items-center">
        <app-key-value label="عنوان مرکز آموزشی" [value]="info().name" />
        <app-key-value label="جنسیت">
          <app-school-genders-tag [genderId]="info().boyOrGirl" />
        </app-key-value>
        <app-key-value label="وضعیت" [value]="info().isActive" type="active" />
        <app-key-value
          label="مایل به برگزاری آزمون برای داوطلبان ثبت نامی در محل مرکز آموزشی خود می‌باشم"
          class="col-span-2"
          [value]="info().conductExam"
          type="has"
        />
        <app-key-value label="ظرفیت مرکز آموزشی" [value]="info().examHallCapacity.toString() + ' نفر'" />
        <app-key-value label="متقاضی آزمون‌های">
          <catalog-exam-application-types-tag [id]="info().examApplicantTypeId" />
        </app-key-value>

        <app-key-value label="شماره تماس ثابت مرکز" [value]="info().phoneNumber" />
        @if (caEditEditable()) {
          <app-key-value label="امکان ویرایش" hint="برای تغییر وضعیت بر روی سوییچ بالا کلیک کنید">
            <inline-confirmation
              [value]="info().canEdit"
              confirmedMessage="بله"
              rejectedMessage="خیر"
              confirmationHeader="آیا مطمینید؟"
              [onConfirmMessage]="'آیا از دادن امکان ویرایش به این مدرسه مطمینید؟'"
              [onRejectMessage]="'آیا از لغو امکان ویرایش این مدرسه مطمینید؟'"
              (onConfirm)="updateCanEdit(true)"
              (onReject)="updateCanEdit(false)"
            />
          </app-key-value>
        } @else {
          <app-key-value label="امکان ویرایش" [value]="caEditEditable()" type="active" />
        }

        <app-key-value label="امکان ثبت‌نام در آزمون">
          <p-badge
            [value]="info().canRegisterToExam ? 'دارد' : 'ندارد'"
            [severity]="info().canRegisterToExam ? 'success' : 'danger'"
          />
        </app-key-value>
        <app-key-value label="دارای اسکنر می‌باشد؟" [value]="info().hasScanner" type="has" />
        @if (info().hasScanner) {
          <app-key-value label="عنوان اسکنر">
            {{ info().scannerName }} <small class="text-muted-color">(مدل {{ info().scannerType }})</small>
          </app-key-value>
        }
      </div>
      @if (showCategories()) {
        <p-divider> دسته‌بندی مدرسه </p-divider>
        <app-school-info-categories
          [categories]="categories()"
          [editable]="canEditCategories()"
          (onUpdate)="submitForm()"
        />
      }
      <p-divider> لیست دروس </p-divider>
      <app-school-info-fields
        [fields]="info().fieldOfStudies"
        [editable]="canEditCategories()"
        (onUpdate)="submitForm()"
      />
      <p-divider> مدیریت </p-divider>
      <div class="grid grid-cols-3 gap-4 items-center">
        <app-key-value label="نام" [value]="info().managerInfo.firstName" />
        <app-key-value label="نام خانوادگی" [value]="info().managerInfo.lastName" />
        <app-key-value label="جنسیت" [value]="info().managerInfo.gender ? 'مرد' : 'زن'" />
        <app-key-value label="تلفن همراه">
          <app-check-verified-info
            [value]="info().managerInfo.mobile"
            [isVerified]="info().managerInfo.mobileIsVerified"
            [inlineConfirmation]="showInlineConfirmation()"
            (onToggleVerify)="toggleVerifyMobile($event)"
          />
        </app-key-value>
        <app-key-value label="ایمیل">
          <app-check-verified-info
            [value]="info().managerInfo.email"
            [inlineConfirmation]="showInlineConfirmation()"
            [isVerified]="info().managerInfo.emailIsVerified"
            (onToggleVerify)="toggleVerifyEmail($event)"
          />
        </app-key-value>
      </div>
      @if (info().canBuyExamByCredit) {
        <p-divider> اطلاعات اعتباری </p-divider>
      }
    </div>
  }
</app-card-data>
