<form (ngSubmit)="submit()" [formGroup]="form" class="grid grid-cols-1 gap-4">
  <div class="grid grid-cols-3 gap-4">
    <app-input label="نام مرکز آموزشی" name="name" [control]="form.controls.name" />
    <app-school-genders-select [control]="form.controls.boyOrGirl" />

    <app-checkbox
      label="مایل به برگزاری آزمون برای داوطلبان ثبت نامی در محل مرکز آموزشی خود هستید؟"
      name="conductExam"
      [control]="form.controls.conductExam"
    />
    <app-input
      label="ظرفیت مرکز آموزشی"
      name="examHallCapacity"
      [control]="form.controls.examHallCapacity"
      suffix="نفر"
    />
    <catalog-exam-application-types-select
      [control]="form.controls.examApplicantType"
      placeholder="نوع متقاضیان آزمون را انتخاب کنید"
    />
    <uikit-field label="شماره تماس ثابت مرکز" name="phoneNumber" class="w-full">
      <p-inputgroup class="w-full" dir="ltr">
        <p-inputgroup-addon>
          <input
            p-inputText
            [formControl]="form.controls.phoneNumber.controls.code"
            placeholder="021"
            maxlength="3"
            class="w-7 text-left ltrInput"
          />
        </p-inputgroup-addon>
        <input
          pInputText
          [formControl]="form.controls.phoneNumber.controls.number"
          placeholder="12345678"
          maxlength="8"
          class="ltrInput"
        />
      </p-inputgroup>
    </uikit-field>

    <app-checkbox label="مرکز آموزشی اسکنر دارد؟" name="scannerType" [control]="form.controls.hasScanner" />
    @if (form.controls.hasScanner.value) {
      <app-input label="مدل اسکنر" name="scannerType" [control]="form.controls.scannerType" />
      <app-input label="نام اسکنر" name="scannerName" [control]="form.controls.scannerName" />
    }

    <!-- <app-input label="شماره تماس" name="phoneNumber" [control]="form.controls.phoneNumber" /> -->
  </div>
  <div [formGroup]="form.controls.managerInfo" class="grid grid-cols-1 gap-4">
    <p-divider align="center"> مدیریت </p-divider>
    <app-school-person-form
      [firstNameControl]="form.controls.managerInfo.controls.firstName"
      [lastNameControl]="form.controls.managerInfo.controls.lastName"
      [mobileControl]="form.controls.managerInfo.controls.mobile"
      [emailControl]="form.controls.managerInfo.controls.email"
      [genderControl]="form.controls.managerInfo.controls.gender"
    />
  </div>
  <div class="flex gap-2 justify-end mt-4">
    <button pButton type="button" class="p-button-secondary" (click)="close()">انصراف</button>
    <button pButton type="submit" class="p-button-primary" [loading]="onSubmitLoading()">ذخیره</button>
  </div>
</form>
