<div class="flex flex-col gap-2 w-full">
  <div class="flex w-full flex-wrap gap-4">
    @if (categories.length) {
      <div class="inline-flex items-center gap-2 flex-wrap">
        @for (category of categories; track category.id) {
          <p-chip severity="secondary">
            <div class="flex items-center gap-3">
              <span class="text-sm">{{ category.title }}</span>
              @if (editable) {
                <button
                  pButton
                  type="button"
                  icon="pi pi-times"
                  size="small"
                  text
                  severity="secondary"
                  class="w-5 h-5"
                  [loading]="detachScheduleLoading().includes(category.id)"
                  (click)="detach(category.id)"
                ></button>
              }
            </div>
          </p-chip>
        }
      </div>
    } @else {
      <div class="w-full flex items-center justify-center">
        <p-message severity="warn" icon="pi pi-exclamation-triangle">دسته‌بندی در نظر گرفته نشده است</p-message>
      </div>
    }
  </div>

  @if (editable) {
    <div class="w-full flex items-center justify-center gap-4 mt-8">
      <uikit-label>افزودن دسته‌بندی جدید:</uikit-label>
      <app-schools-categories-tree-select
        [control]="categoryControl"
        [filters]="selectedCategories()"
        [showLabel]="false"
        [loading]="true"
        class="max-w-xs"
        placeholder="دسته‌بندی را انتخاب کنید"
      />
    </div>
  }
</div>
