<div class="flex flex-col gap-2 w-full">
  <app-key-value label="دروس" class="w-full">
    <div class="flex w-full flex-wrap gap-4">
      @if (fields.length) {
        <div class="inline-flex items-center gap-2 flex-wrap">
          @for (field of fields; track field.id) {
            <p-tag severity="info">
              <div class="flex items-center gap-3">
                <span class="text-sm">{{ `${field.title} - ${field.educationalLevelTitle}` }}</span>
                @if (editable) {
                  <button
                    pButton
                    type="button"
                    icon="pi pi-times"
                    size="small"
                    text
                    severity="secondary"
                    class="w-5 h-5"
                    [loading]="detachScheduleLoading().includes(field.id)"
                    (click)="detach(field.id)"
                  ></button>
                }
              </div>
            </p-tag>
          }
        </div>
      } @else {
        دسته‌بندی در نظر گرفته نشده است
      }
    </div>
  </app-key-value>

  @if (editable) {
    <catalog-fields-select
      [control]="fieldControl"
      [filters]="selectedFields()"
      [showLabel]="false"
      [loading]="loading()"
      class="max-w-xs"
      placeholder="رشته را انتخاب کنید"
    />
  }
</div>
