<p-dialog
  label="افزودن گروهی دانش‌آموزان"
  [(visible)]="visible"
  [style]="{ width: '500px' }"
  [closable]="true"
  (onHide)="onClose()"
>
  <p-fileupload name="file" accept=".xlsx" maxFileSize="1000000">
    <!-- (onUpload)="onTemplatedUpload()" (onSelect)="onSelectedFiles($event)" -->
    <ng-template
      #header
      let-files
      let-chooseCallback="chooseCallback"
      let-clearCallback="clearCallback"
      let-uploadCallback="uploadCallback"
    >
    </ng-template>
    <ng-template
      #content
      let-files
      let-uploadedFiles="uploadedFiles"
      let-removeFileCallback="removeFileCallback"
      let-removeUploadedFileCallback="removeUploadedFileCallback"
    >
      <div class="flex flex-col gap-8 pt-4">
        <div *ngIf="files?.length > 0"></div>
        <div *ngIf="uploadedFiles?.length > 0"></div>
      </div>
    </ng-template>
    <ng-template #file></ng-template>
    <ng-template #empty>
      <div class="flex items-center justify-center flex-col">
        <i class="pi pi-cloud-upload !border-2 !rounded-full !p-8 !text-4xl !text-muted-color"></i>
        <p class="mt-6 mb-0">فایل مورد نظر خود را در اینجا رها کنید</p>
      </div>
    </ng-template>
  </p-fileupload>
</p-dialog>
