<form [formGroup]="form" class="w-full flex flex-col gap-4" (ngSubmit)="submit()">
  <app-input
    name="mobile"
    label="شماره تلفن همراه"
    size="large"
    [control]="form.controls.mobile"
    type="mobile"
  ></app-input>

  <app-auth-captcha class="block mb-6" />

  <div class="grid grid-cols-1 gap-3">
    @if (selectedRole() === "TEACHER") {
      <span class="w-full text-center text-sm select-none">
        برای ثبت نام در سامانه <a class="text-primary cursor-pointer" (click)="toSignup()">اینجا</a> کلیک کنید.
      </span>
    }
    <change-login-type-actions />
    <p-button label="ارسال کد" styleClass="w-full" size="large" [loading]="loading()" type="submit"></p-button>
  </div>
</form>
