<div class="flex justify-center flex-col gap-3 items-center px-6">
  <form [formGroup]="form" class="flex justify-center flex-col gap-3 items-center" (submit)="submit()">
    <uikit-field label="رمز عبور" name="password" pSize="large" class="w-full" [control]="form.controls.password">
      <p-password
        id="password1"
        size="large"
        name="password"
        formControlName="password"
        autocomplete="password"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false"
        [invalid]="form.controls.password.touched && form.controls.password.invalid"
        [inputStyle]="{
          direction: 'ltr',
          'padding-inline-start': 'calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size))',
          'padding-inline-end': 'var(--p-inputtext-lg-padding-x)',
        }"
      />
      <span class="text-xs mt-2 text-muted-color">
        رمز باید حداقل ۸ کاراکتر بوده و شامل حداقل یک حرف بزرگ، یک حرف کوچک، یک عدد و یک کاراکتر ویژه باشد.
      </span>
    </uikit-field>

    <uikit-field
      label="تکرار رمز عبور"
      pSize="large"
      name="confirmPassword"
      class="w-full"
      [control]="form.controls.confirmPassword"
    >
      <p-password
        id="confirmPassword"
        size="large"
        name="confirmPassword"
        formControlName="confirmPassword"
        autocomplete="new-password"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false"
        [invalid]="form.controls.confirmPassword.touched && form.controls.confirmPassword.invalid"
        [inputStyle]="{
          direction: 'ltr',
          'padding-inline-start': 'calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size))',
          'padding-inline-end': 'var(--p-inputtext-lg-padding-x)',
        }"
      />
    </uikit-field>
  </form>

  <span class="text-muted-color text-sm font-bold mt-3"> کد ارسال شده برای شماره خود را وارد کنید. </span>
  <p-inputotp name="otp" size="large" [length]="6" [(ngModel)]="otpCode" dir="ltr" />
  <div class="flex items-center justify-center">
    @if (countdown() > 0) {
      <span class="text-sm text-muted-color ml-2">ارسال مجدد کد در {{ countdown() }} ثانیه</span>
    } @else {
      <button pButton outlined (click)="resendOtp()" [loading]="resendLoading()" type="button">ارسال مجدد کد</button>
    }
  </div>

  <app-form-footer-actions [loading]="submitLoading()" (onCancel)="close()" (onSubmit)="submit()" />
</div>
