<div class="grid grid-cols-2 gap-4">
  <uikit-field label="استان" name="state" [control]="stateControl">
    <ng-container>
      <p-select
        name="state"
        [options]="states() || []"
        optionLabel="title"
        optionValue="id"
        [loading]="getStatesLoading()"
        [formControl]="stateControl"
      ></p-select>
    </ng-container>
  </uikit-field>

  @if (cityControl) {
    <ng-container>
      <uikit-field label="شهر" name="city" [control]="cityControl">
        <p-select
          name="city"
          optionLabel="title"
          optionValue="id"
          [options]="cities() || []"
          [loading]="getStatesLoading()"
          [disabled]="!isSelectedState()"
          [formControl]="cityControl"
        ></p-select>
      </uikit-field>
    </ng-container>
  }
  @if (zoneControl) {
    <ng-container>
      <uikit-field label="منطقه" name="zone" [control]="zoneControl">
        <p-select
          name="zone"
          optionLabel="title"
          optionValue="id"
          [options]="zones() || []"
          [loading]="getStatesLoading()"
          [disabled]="!isSelectedCity()"
          [formControl]="zoneControl"
        ></p-select>
      </uikit-field>
    </ng-container>
  }
</div>
