@if (showLabel) {
  <uikit-field label="درس" [for]="name">
    <p-select
      [name]="name"
      [formControl]="control"
      [options]="filteredItems()"
      optionLabel="fullTitle"
      [optionValue]="onlyId ? 'id' : ''"
      placeholder="یکی از درس‌ها را انتخاب کنید"
      [loading]="loading"
      [disabled]="disabled"
      appendTo="body"
      (onChange)="onLessonSelect($event.value)"
    />
  </uikit-field>
} @else {
  <p-select
    [name]="name"
    [formControl]="control"
    [options]="filteredItems()"
    optionLabel="fullTitle"
    [optionValue]="onlyId ? 'id' : ''"
    placeholder="یکی از درس‌ها را انتخاب کنید"
    [loading]="loading"
    [disabled]="disabled"
    appendTo="body"
    (onChange)="onLessonSelect($event.value)"
  />
}
