<div class="grow flex flex-col gap-4">
  <p-table [columns]="columns" [value]="items" [loading]="loading" stripedRows [showFirstLastIcon]="false" class="grow">
    <ng-template pTemplate="caption">
      <div class="mb-4">
        <div class="flex justify-between items-center">
          <h5 class="font-bold">{{ pageTitle }}</h5>
          <p-button label="{{ addNewCtaLabel }}" icon="pi pi-plus" (click)="openAddForm()"></p-button>
        </div>
        @if (filter) {
          <div class="mt-3">
            <ng-container [ngTemplateOutlet]="filter" [ngTemplateOutletContext]="{ $implicit: columns }">
            </ng-container>
          </div>
        }
      </div>
    </ng-template>

    <ng-template #header let-columns>
      <tr>
        @for (col of columns; track col.header) {
          <th [style]="{ width: col.width }">{{ col.header }}</th>
        }
        @if (showDelete || showEdit) {
          <th type="th" class="w-[5rem]"></th>
        }
      </tr>
    </ng-template>

    <ng-template #body let-item>
      <tr>
        @for (col of columns; track col.field) {
          <td>
            @if (getTemplate(col)) {
              <ng-container
                [ngTemplateOutlet]="getTemplate(col)"
                [ngTemplateOutletContext]="{ $implicit: item }"
              ></ng-container>
            } @else {
              <span>
                {{ getCell(item, col) }}
              </span>
            }
          </td>
        }
        @if (showDelete || showEdit) {
          <td
            table-action-row
            type="td"
            [showDelete]="showDelete"
            [showEdit]="showEdit"
            (edit)="edit(item)"
            (delete)="remove(item)"
          ></td>
        }
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr class="h-full">
        <td [colSpan]="columns.length.toString()" class="w-full">
          <uikit-empty-state
            [title]="emptyPlaceholderTitle"
            [description]="emptyPlaceholderDescription"
            [ctaLabel]="emptyPlaceholderCtaLabel"
          ></uikit-empty-state>
        </td>
      </tr>
    </ng-template>

    <ng-template #loadingbody let-columns>
      @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track i) {
        <tr style="height: 46px">
          @for (col of columns; track col) {
            <td>
              <p-skeleton></p-skeleton>
            </td>
          }
          @if (showDelete || showEdit) {
            <td>
              <p-skeleton></p-skeleton>
            </td>
          }
        </tr>
      }
    </ng-template>
  </p-table>
  @if (showPaginator) {
    <div class="flex items-center justify-center p-10">
      <p-paginator
        (onPageChange)="onPage($event)"
        [rows]="10"
        [totalRecords]="totalRecords"
        [showFirstLastIcon]="false"
      />
    </div>
  }
</div>

<!-- Hidden references for dynamic components so the compiler recognizes them as used -->
<ng-container *ngIf="false">
  <app-school-genders-tag></app-school-genders-tag>
</ng-container>
