<form (ngSubmit)="submit()" [formGroup]="form" class="grid grid-cols-1 gap-4">
  <div class="grid grid-cols-3 gap-4">
    <app-input label="نام مرکز آموزشی" name="name" [control]="form.controls.name" />
    <app-gender-select [control]="form.controls.gender" />
    <app-input label="شماره تماس" name="mobile" [control]="form.controls.mobile" />
  </div>

  <div class="flex gap-2 justify-end mt-4">
    <button pButton type="button" class="p-button-secondary" (click)="close()">انصراف</button>
    <button pButton type="submit" class="p-button-primary" [loading]="onSubmitLoading()">ذخیره</button>
  </div>
</form>
