<app-card-data cardTitle="اطلاعات دبیر">
  <div class="flex flex-col gap-4">
    <div class="grid grid-cols-3 gap-4">
      <app-key-value label="نام" [value]="info().firstName" />
      <app-key-value label="نام خانوادگی" [value]="info().lastName" />
      <app-key-value label="شناسه" [value]="info().uniqueId" />
      <app-key-value label="جنسیت" [value]="info().gender ? 'مرد' : 'زن'" />
      <app-key-value label="تلفن همراه">
        <app-check-verified-info
          [value]="info().mobile"
          [isVerified]="info().isMobileVerified"
          [inlineConfirmation]="showInlineConfirmation()"
          (onToggleVerify)="toggleVerifyMobile($event)"
        />
      </app-key-value>
      <app-key-value label="ایمیل">
        <app-check-verified-info
          [value]="info().email"
          [inlineConfirmation]="showInlineConfirmation()"
          [isVerified]="info().isEmailVerified"
          (onToggleVerify)="toggleVerifyEmail($event)"
        />
      </app-key-value>
    </div>
  </div>
</app-card-data>
