<div class="flex items-center gap-3 justify-between">
  <span>
    {{ `${item.fullname}` }}
  </span>

  @if (canAddTeacherLesson() || canApproveTeachers()) {
    <div class="text-end flex justify-end gap-3 shrink-0">
      @if (canAddTeacherLesson()) {
        <p-button severity="info" size="small" icon="pi pi-plus" label="افزودن درس" (onClick)="openLessonForm()">
        </p-button>
        <p-button severity="danger" size="small" [loading]="detachTeacherLoading()" (click)="detachTeacher()">
          حذف دبیر
        </p-button>
      }
      @if (canApproveTeachers()) {
        <p-button
          label="تایید تمامی دروس"
          icon="pi pi-check"
          severity="success"
          size="small"
          [loading]="changeTeacherStatusLoading()"
          (click)="approveAllLessons()"
        />
        <p-button
          label="رد تمامی دروس"
          icon="pi pi-times"
          severity="warn"
          size="small"
          [loading]="changeTeacherStatusLoading()"
          (click)="rejectAllLessons()"
        />
      }
    </div>
  }
</div>
<assign-teacher-form-dialog
  [(visible)]="showLessonForm"
  [teacherId]="item.id"
  [schoolId]="schoolId"
  [selectedLessonIds]="selectedLessonIds()"
  (onSubmit)="submitted()"
/>
